<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rav1e_gui.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    
    <userSettings>
        <rav1e_gui.My.MySettings>
            <setting name="quantizer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="tempFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioBitrate" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="lowlat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minKeyInt" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="removeTempFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pieceSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="maxKeyInt" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="Tune" serializeAs="String">
                <value>Psychovisual</value>
            </setting>
            <setting name="ColorPrimaries" serializeAs="String">
                <value>Unspecified</value>
            </setting>
            <setting name="MatrixCoefficients" serializeAs="String">
                <value>Unspecified</value>
            </setting>
            <setting name="TransferCharacteristics" serializeAs="String">
                <value>Unspecified</value>
            </setting>
            <setting name="ShowPSNRMetrics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Range" serializeAs="String">
                <value>Unspecified</value>
            </setting>
            <setting name="ContentLight" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="VideoBitrate" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="useBitrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useQuantizer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="twoPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TilingRows" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TilingColumns" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UseTiling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CPUThreads" serializeAs="String">
                <value>0</value>
            </setting>
        </rav1e_gui.My.MySettings>
    </userSettings>
</configuration>